{% extends 'adminlawyer/layout.html' %}

{% block content %}

<main class="content">
<div class="container-fluid p-0">

					

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Documents DataTables</h5>
									<h6 class="card-subtitle text-muted">Stored all the requaired details of Documents</h6>
								</div>
								<div class="card-body">
									<table id="datatables-reponsive" class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap; table-layout: fixed; width: 100%;">
										<thead>
											<tr>
												<th>Document ID</th>
												<th>Document</th>
												<th>Case</th>
												<th>Case Type</th>
												<th>Description</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>img_1532.jpg</td>
												<td>Harsh Shah's Penalties</td>
												<td>Income Tax Appeal</td>
												<td>Tax Return Proof</td>
												
											</tr>
											<tr>
												<td>2</td>
												<td>dsy.mp4</td>
												<td>Jenny Pysical Abuse Study</td>
												<td>CRIMINAL APPEAL</td>
												<td>Abuse Video of 12-June-2010</td>
											</tr>
											<tr>
												<td>3</td>
												<td>written_scan.pdf</td>
												<td>Domestic Violence on Mittal</td>
												<td>DIVORCE PETITION</td>
												<td>Written Confession of Family Members</td>
											</tr>
											<tr>
												<td>4</td>
												<td>costo.pdf</td>
												<td>Mitali's Gaurdianship 2010</td>
												<td>Guardianship</td>
												<td>Custody Guide Documnent</td>
											</tr>
											<tr>
												<td>5</td>
												<td>bail_sunitra.pdf</td>
												<td>Bail Application for Sunitra</td>
												<td>Bail Application</td>
												<td>Bail Form of Sunitra</td>
											</tr>
											
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div></main>
{% endblock %}