{% extends 'adminlawyer/layout.html' %}

{% block content %}

<main class="content">
<div class="container-fluid p-0">

					

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Feedback DataTables</h5>
									<h6 class="card-subtitle text-muted">Stored all the requaired details of Feedbacks</h6>
								</div>
								<div class="card-body">
									<table id="datatables-reponsive" class="table table-striped" style="display: block; overflow-x: auto; white-space: nowrap; table-layout: fixed; width: 100%;">
										<thead>
											<tr>
												<th>Feedback ID</th>
												<th>Message</th>
												<th>Rating</th>
												<th>Lawyer</th>
												<th>Client</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Great Work Abilities</td>
												<td>4</td>
												<td>Jashmin Desai</td>
												<td>Harsh Shah</td>
												<td>24/12/2005</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Good Team Work</td>
												<td>4</td>
												<td>Preet Kevadiya</td>
												<td>Jenny Dsouza</td>
												<td>17/10/2010</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Great Working with team</td>
												<td>3</td>
												<td>Rakesh Acharya</td>
												<td>Mittal Kadiya</td>
												<td>11/03/2015</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Not Satisfied with experience</td>
												<td>3</td>
												<td>Sanjay Gajenda</td>
												<td>Vivek Shah</td>
												<td>27/08/2019</td>
											</tr>
											<tr>
												<td>5</td>
												<td>Good Work</td>
												<td>4</td>
												<td>Jeet Raval</td>
												<td>Sunitra Mehata</td>
												<td>14/11/2002</td>
											</tr>
											
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div></main>
{% endblock %}